// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  padding-left: 8px;
}

li {
  list-style: none;
  padding-left: 0;

}

.content{
  width: 95vw;
  margin: 16px auto;
  padding: 0;
}

p {
  padding: 4px 0;
}

form {
  width: 30vw;
  min-width: 200px;
}

.fa-history {
  margin-top: 24px;
}
